/* frontend/src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.App {
  padding: 40px 20px;
  text-align: center;
}

textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  transition: border-color 0.3s ease;
}

textarea:focus {
  border-color: #007BFF;
  outline: none;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

h2 {
  color: #333;
}

p {
  font-size: 16px;
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #007BFF;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.MuiListItemText-primary {
  color: #007BFF;
}

.summary-card {
  margin-top: 20px;
  transition: transform 0.3s;
}

.summary-card:hover {
  transform: scale(1.02);
}